<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{page_title|default('Tactics')}}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">

        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
            <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css">
            <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

            {% stylesheets
                '@TacticsAdminBundle/Resources/public/css/pages/login.css'
                '@TacticsAdminBundle/Resources/public/css/pages/dashboard.css'
                '@TacticsFormBundle/Resources/public/css/base.css'
            %}
            <link href='{{ asset_url }}' type='text/css' rel="stylesheet"></script>
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body class="env-development">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home') }}">
                    {% block top_menu_brand %}
                        {{title|default('Tactics admin')}}
                    {% endblock %}
                </a>
            </div>
            {% block top_menu %}
            {% endblock %}
            {% block personal_menu %}
            {% endblock %}
        </nav>

        {% block sub_nav %}
        {% endblock %}

        <div id="ribbon"></div>

        {% block content_container %}
        {% endblock %}

        <div id="switch_user">
            <!-- Switch user -->
            <div id="switchUserDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="switchUserDialogLabel" aria-hidden="true">
              <form action="{{ app.request.requesturi }}">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="switchUserDialogLabel">Switch user</h3>
              </div>
              <div class="modal-body">
                  <input id="_switch_user" name="_switch_user">
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Switch</button>
              </div>
              </form>
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <hr>
                {% block footer %}
                    <p>&copy; {{ 'now'|date('Y') }} Tactics bvba</p>
                {% endblock %}
            </div> <!-- /container -->
        </div> <!-- /footer -->

        {% block javascripts %}
            <!-- Le javascript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->

            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
            <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
            <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

            {% javascripts
                '@TacticsAdminBundle/Resources/public/js/excanvas.min.js'
                '@TacticsAdminBundle/Resources/public/js/show.js'
                '@TacticsAdminBundle/Resources/public/js/admin.js'
                '@TacticsAdminBundle/Resources/public/js/menu.js'
            %}
            <script src='{{ asset_url }}' type='text/javascript'></script>

            {% endjavascripts %}

            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}
    </body>
</html>
