{% extends '::base.html.twig' %}

{% block top_menu %}
  {% render 'TacticsAdminBundle:Default:menu' with { 'top' : true  } %}
  {% render 'TacticsAdminBundle:Default:subnav' %}
{% endblock %}

{% block personal_menu %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{ app.user.name|title }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
              <a href="{{ path( 'person_show', {id: app.user.id }) }}">Profile</a>
            </li>

            <li>
                <a href="{{ path( 'person_profile_detail', {id: app.user.id}) }}">Profile analysis</a>
            </li>
            <li>
                <a href="{{ path( 'config_personal_edit', {type: "tactics.config.form.personal_sample"} )}}">Settings</a>
            </li>
            <li>
                <a href="{{ path('training_need') }}">Training need</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{{ path('logout') }}"><i class="icon-off"></i> Logout</a>
            </li>
        </ul>
    </li>
{% endblock %}

    
{% block content_container %}
    <div id="content">
        <div class="container">
            <div class="row">
                  <div class="span12">
                      {% include 'TacticsAdminBundle:Default:flash_messages.html.twig' %}
                      
                      <div id="breadcrumbAjaxIndicator" class="ajaxIndicator"><img src="{{asset('/bundles/tacticsadmin/images/ajax-indicator.gif')}}"></div>
                      
                      {% block breadcrumb %}
                          {{ apy_breadcrumb_trail_render() }}                          
                      {%endblock %}
                      {% block content %}
                      {% endblock content %}
                </div> <!-- /span9 -->
            </div> <!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /content -->
{% endblock %}

