{% extends 'TacticsAdminBundle::public.html.twig' %}


{% block content %}
<div id="login-header">
    <h3>Login</h3>
</div> <!-- /login-header -->

{% if error %}
    <div class="alert alert-error alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ error }}
    </div>
{% endif %}

<div id="login-content" class="clearfix">
<form action="{{ path("fos_user_security_check") }}" method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
      <div class="controls">
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
      <div class="controls">
        <input type="password" id="password" name="_password" />
      </div>
    </div>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /><span>{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span>
  </fieldset>
  
  
  <div class="pull-right">
    <button type="submit" class="btn btn-warning btn-large" type="submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
  </div>
  </fieldset>
</form>
</div>

<div class="row" style="text-align: center; font-size: 14px">
    <a href="{{ url("fos_user_resetting_request") }}">Forgot your password?</a>
</div>

{% endblock content %}