<form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new form-horizontal">
    
    {{ form_row(form.name) }}
    
    {% include "TacticsAdminBundle:Group:role.html.twig" %}                
        
    {{ form_rest(form) }}
    <div>
        <input type="submit" value="{{ 'group.new.submit'|trans([], 'FOSUserBundle') }}" />
    </div>
        
    
</form>
