<nav class="navbar navbar-default" role="navigation" style="margin-top:90px;">
    <ul class="nav navbar-nav">
        {% for module_group_name, modules in menu %}
            {% for name, module in modules %}
                {% if module.route is defined %}
                    <li class="dropdown {{ 'subnav-' ~ module_group_name }} subnav-item" style="display: none">
                        <a class="dropdown-toggle" href="{{ path( module.route, module.params|default([])) }}">
                            {% if module.icon is defined %}
                                <i class="{{ module.icon }}"></i>
                            {% endif %}{{ name }}
                        </a>
                    </li>
                {% else %}
                    {% for actions in module %}
                        <li class="dropdown {{ 'subnav-' ~ module_group_name }} subnav-item" style="display: none">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ name }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                            {% for action in actions %}
                                <li>
                                    <a href="{{ path( action.route ) }}">
                                    {% if action.icon is defined %}
                                        <i class="{{ action.icon }}"></i>
                                    {% endif %}{{ action.label }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</nav>
